body {
  color: #779890;
  background-color: #F6E3E0;
  font-size: 1.5rem;
  text-align: center;

}

header {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#header {
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.header-link {
  color: #779890;
  text-decoration: none;
}

.footer-link {
  color: #F6E3E0;
  text-decoration: none;
}

.project-description {
  display: flex;
  text-align: left;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-align: center;
  display: inline;
  margin: 2rem;
}

h1 {
  font-size: 6rem;
  font-family: 'Princess Sofia', cursive;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #f5807a;
}

h2 {
  padding: 2rem;
  font-weight: bold;
  font-size: 3rem;
  color: #F69691;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ABBEB4;
  padding: 1rem;
}

.profile-image {
  width: 250px;
  border-radius: 50%;
  margin: 6rem;
}

.project-image {
  height: 300px;
  border-radius: 20px;
  margin: 2rem;
  float: left;
}

#footer {
  background-image: linear-gradient(to bottom, #ABBEB4, #779890);
  color: #F6E3E0;
  padding: 2rem;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-image: linear-gradient(to bottom, #F69691, #cb6762);
  color: #F6E3E0;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 20px;
  border: none;
  margin-bottom: 3rem;
  cursor: pointer;
}

hr.styled {
  border: 2px dotted #F69691;
  margin: 0 auto;
  width: 30%;
}

p {
  padding: 2rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  a {
    display: block;
    font-size: 1.5rem;
  }
  .profile-image {
    width: 100px;
  }
  button {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .project-image {
    height: 100px !important;
    float: none !important;
  }
  .project-description {
    display: block !important;
    text-align: center !important;
  }
}



@media (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  a {
    display: block;
    font-size: 1.5rem;
  }
  .profile-image {
    width: 150px;
  }
  button {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
  .project-image {
    height: 200px !important;
    float: none ;
  }
  .project-description {
    display: block !important;
    text-align: center !important;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  .profile-image {
    width: 200px;
  }
  button {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .project-image {
    height: 250px;
  }
}


 